<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a th:href="@{/user/}" class="navbar-brand">
                <img th:src="@{/img/logo.png}" alt="logo">
                <span class="fw-semibold ms-2">User interface</span>
            </a>
            <form method="post" th:action="@{/logout}" class="d-flex">
                <div class="form-button">
                    <button class="px-4" type="submit">log out</button>
                </div>
            </form>
        </div>
    </nav>
</body>
</html>