<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <div th:replace="~{fragments/util.html::styles}"></div>
    
    <title>Forgot password</title>
</head>
<body class="vh-100 row g-0 ps-4 py-4 d-flex align-items-center justify-content-start">
    <section class="card col-md-9 col-xl-7 col-xxl-6 h-100 p-5 rounded-end-5">
        <div class="card-body px-xxl-5">
            <header class="d-flex justify-content-start align-items-center gap-3 mb-5">
                <img th:src="@{/img/logo.png}" alt="logo">
                <div>
                    <h1>Recover your account</h1>
                    <p class="m-0">Follow the instructions</p>
                </div>
            </header>
            <main>
                <p>Introduce the email associated to your account in order to send you the instructions to recover it.</p>
                <form method="post" th:action="@{/forgot}">
                    <div class="row my-5">
                        <div class="col-sm-6 mb-4 mb-sm-0">
                            <div class="form-item mb-4">
                                <label for="email">Email</label>
                                <input name="email" id="email" class="form-control" type="text" placeholder="Enter your email">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-9 col-sm-6">
                            <div class="form-button">
                                <button type="submit">Send email</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-item form-signup text-center mt-4  ">
                    <span>
                        Remember your password?
                    </span>
                        <a th:href="@{/}">Log in</a>
                    </div>
                </form>
            </main>
        </div>
    </section>

    <div th:if="${toast != null}" class="toast align-items-center position-fixed bottom-0 end-0 m-3" id="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" th:text="${toast}">
                Text
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/util.html::scripts}"></div>

    <script th:if="${toast != null}">
        const toast = document.getElementById("toast");
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast);
        toastBootstrap.show();
    </script>

</body>
</html>