<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <div th:replace="~{fragments/util.html::styles}"></div>
        <title>Password</title>
    </head>
    <body class="vh-100">
        <div th:replace="~{fragments/common.html::navbar}"></div>

        <main class="h-75 d-flex align-items-center justify-content-center">
            <section class="card rounded-4 p-5">
                <a th:href="@{/user}" class="navigate-button mb-3">back</a>
                <header class="mb-4">
                    <h1>New password</h1>
                    <p class="m-0">update your information</p>
                </header>
                <div>
                    <form method="post" th:action="@{/user/pass}">
                        <div class="form-item mb-4">
                            <label for="pass">Password</label>
                            <input name="pass" id="pass" class="form-control" th:classappend="${pass != null?'is-invalid':''}" type="password" placeholder="Enter your password">
                            <div class="invalid-feedback" th:if="${pass != null}" th:text="${pass}">Validation</div>
                        </div>
                        <div class="form-item mb-4">
                            <label for="newPass">New password</label>
                            <input name="newPass" id="newPass" class="form-control" th:classappend="${newPass != null || matchPass != null? 'is-invalid':''}" type="password"
                                   placeholder="Enter your new password">
                            <div class="invalid-feedback" th:if="${newPass != null || matchPass != null}" th:text="${newPass != null ? newPass : matchPass}">Validation</div>
                        </div>
                        <div class="form-item mb-5">
                            <label for="confPass">Confirm password</label>
                            <input name="confPass" id="confPass" class="form-control" th:classappend="${confPass != null || matchPass != null? 'is-invalid':''}" type="password"
                                   placeholder="Confirm your password">
                            <div class="invalid-feedback" th:if="${confPass != null || matchPass != null}" th:text="${confPass != null ? confPass: matchPass}">Validation</div>
                        </div>
                        <div class="form-button">
                            <button type="submit">Save password</button>
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>