<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <div th:replace="~{/fragments/util.html::styles}"></div>
        <title>Reset password</title>
    </head>
    <body class="vh-100 row g-0 ps-4 py-4 d-flex align-items-center justify-content-start">
        <section class="card col-md-9 col-xl-7 col-xxl-6 h-100 p-5 rounded-end-5">
            <div class="card-body px-xxl-5">
                <header class="d-flex justify-content-start align-items-center gap-3 mb-5">
                    <img th:src="@{/img/logo.png}" alt="logo">
                    <div>
                        <h1>Recover your account</h1>
                        <p class="m-0">Reset your password</p>
                    </div>
                </header>
                <main>
                    <p class="mb-5">Update your password to a new one</p>
                    <form method="post" th:action="@{/recover}">
                        <input type="hidden" name="code" th:value="${code}">
                        <div class="row mb-5">
                            <div class="col-sm-6 mb-4 mb-sm-0">
                                <div class="form-item mb-4">
                                    <label for="newPass">New password</label>
                                    <input id="newPass" name="newPass" class="form-control" th:classappend="${newPassword != null? 'is-invalid':''}" type="password" placeholder="Enter your new password">
                                    <div class="invalid-feedback" th:if="${newPassword != null}" th:text="${newPassword}">Validation</div>
                                </div>
                                <div class="form-item mb-4">
                                    <label for="confirmPass">Confirm password</label>
                                    <input id="confirmPass" name="confirmPass" class="form-control" th:classappend="${confirmPassword != null? 'is-invalid':''}" type="password" placeholder="Confirm your password">
                                    <div class="invalid-feedback" th:if="${confirmPassword != null}" th:text="${confirmPassword}">Validation</div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-9 col-sm-6">
                                <div class="form-button">
                                    <button type="submit">Reset password</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form-item form-signup text-center mt-4  ">
                        <span>
                            Remember your password?
                        </span>
                        <a th:href="@{/}">Log in</a>
                    </div>
                </main>
            </div>
        </section>
        <div th:replace="~{fragments/util.html::scripts}"></div>
    </body>
</html>