<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <th:block th:replace="~{/fragments/util.html::styles}"></th:block>
        <title>Sign up</title>
    </head>
    <body class="vh-100 row g-0 ps-4 py-4 d-flex align-items-center justify-content-start">
        <section class="card col-md-9 col-xl-7 col-xxl-6 h-100 p-5 rounded-end-5">
            <div class="card-body px-xxl-5">
                <header class="d-flex justify-content-start align-items-center gap-3 mb-5">
                    <img th:src="@{/img/logo.png}" alt="logo">
                    <div>
                        <h1>Get started</h1>
                        <p class="m-0">Create your new account</p>
                    </div>
                </header>
                <main>
                    <p>Complete the following information</p>
                    <form class="mt-4" method="post" th:action="@{/signup}" th:object="${user}">
                        <div class="row mb-5 mt-1">
                            <div class="col-sm-6 mb-4 mb-sm-0">
                                <div class="form-item mb-4">
                                    <label>Full name</label>
                                    <input th:field="*{fullname}" class="form-control" th:classappend="${#fields.hasErrors('fullname')? 'is-invalid':''}" type="text" placeholder="Enter your name">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-item mb-4">
                                    <label>Email</label>
                                    <input th:field="*{email}" class="form-control" th:classappend="${#fields.hasErrors('email')? 'is-invalid':''}" type="text" placeholder="Enter your email">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-item mb-4">
                                    <label for="pass">Password</label>
                                    <input id="pass" name="password" class="form-control" type="password"
                                           placeholder="Enter your password">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-item">
                                    <label for="confPass">Confirm password</label>
                                    <input id="confPass" name="confirmPassword" class="form-control" type="password"
                                           placeholder="Confirm your password">
                                </div>
                            </div>

                        </div>
                        <div class="row justify-content-center">
                            <div class="col-9 col-sm-6">
                                <div class="form-button">
                                    <button type="submit">Create account</button>
                                </div>
                                <p class="line"><span>or</span></p>
                                <div class="form-button">
                                    <a th:href="@{/oauth2/authorization/google}"><img th:src="@{/img/logo-google.png}" alt="google-logo">Sign up with
                                        Google</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form-item form-signup text-center mt-4  ">
                        <span>
                            Have an account?
                        </span>
                        <a th:href="@{/}">Log in</a>
                    </div>
                </main>
            </div>
        </section>

    </body>
</html>